*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

#padding-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  gap: 3rem;
}

#toolbar {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  top: 2rem;
}

#menu-button {
  display: flex;
  margin-right: 3.4rem;
  width: 1.8rem;
}

#headline {
  position: relative;
  margin-top: 10rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  animation: rotation 2s ease 1;
}

#primary-text {
  font-family: 'Inter', Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 5rem;
}

#support-text {
  font-family: 'Inter', Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin-top: 2rem;
  color: #172b4d;
}

#title-1 {
  color: #172b4d;
}

#title-2 {
  color: #36b37e;
}

#social-media {
  margin-top: 1.5rem;
}

#social-media img {
  width: 1.5rem;
}

#header-img {
  background-image: url(icons/header-illustration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

#header-img-desktop {
  background-image: url(icons/header-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#down-btn-ctn {
  display: flex;
  justify-content: center;
}

#down-btn-ctn button {
  background: #fff;
  border: 0.1rem solid #dfe1e6;
  border-radius: 32px;
  padding: 1rem;
  margin-top: 4rem;
}

#nav-bar-ctn {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
}

#nav-bar a {
  transition: 0.5s ease-in-out;
}

.soc-med-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

#works {
  display: flex;
  flex-direction: column;
  place-content: center;
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

#nav-bar a:hover {
  scale: 1.2;
}

.soc-med-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

form .see-btn {
  align-self: center;
}

.see-btn:hover {
  box-shadow: 0 0.3rem 1rem rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

.see-btn:active {
  box-shadow: none;
  background-color: #008552;
  cursor: pointer;
}

#recent-works {
  display: flex;
  flex-direction: column;
}

#arrow-ctn {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 2rem;
}

/* Footer */

#contact-img {
  background: url('./icons/contact.svg') no-repeat;
  background-size: 5rem;
  background-position: 100% 100%;
  position: absolute;
  width: 100vw;
  height: 100%;
  right: -3rem;
  z-index: -1;
}

footer {
  margin: 2rem 0;
}

.soc-med-list.bottom {
  gap: 1.5rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
    scale: 1;
  }

  50% {
    scale: 1.5;
  }
    
  100% {
    transform: rotate(360deg);
    scale: 1;
  }
}
