*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

#padding-ctn {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  padding-bottom: 3rem;
  gap: 3rem;
}

#toolbar {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  top: 2rem;
}

#menu-button {
  display: flex;
  margin-right: 3.4rem;
  width: 1.8rem;
}

#headline {
  position: relative;
  margin-top: 6rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#primary-text {
  font-family: 'Inter', Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

#support-text {
  font-family: 'Inter', Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-top: 2rem;
}

#title-1 {
  color: #172b4d;
}

#title-2 {
  color: #36b37e;
}

#social-media {
  margin-top: 1.5rem;
}

#header-img {
  background-image: url(icons/header-illustration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2rem;
  left: 0;
  z-index: -1;
}

#header-img-desktop {
  background-image: url(icons/header-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#down-btn-ctn {
  display: flex;
  justify-content: center;
}

#down-btn-ctn button {
  background: #fff;
  border: 0.1rem solid #dfe1e6;
  border-radius: 32px;
  padding: 1rem;
  margin-top: 4rem;
}

#nav-bar-ctn {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
}

#soc-med-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

#works {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.work-card {
  display: flex;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 60vh;
  flex-direction: column;
}

.work-card .top-area {
  height: 55%;
  width: 100%;
}

.work-card .bottom-area {
  display: flex;
  flex-direction: column;
  height: 45%;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
}

.work-card .bottom-area .top {
  display: flex;
  place-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}

.work-card .bottom-area .bottom {
  display: flex;
  place-content: center;
  align-items: center;
  height: 40%;
}

.work-card .bottom-area .tech {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}

.tech-card {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 0.35rem;
  color: #3a4a42;
  font-weight: 600;
  font-size: 0.75rem;
}

.see-btn .text {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 1.5rem 0;
  color: #42526e;
  text-align: center;
}

.work-card .bottom-area .text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
  color: #3a4a42;
}

.see-btn {
  display: flex;
  place-content: center;
  align-items: center;
  background-color: #36b37f;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  color: #fff;
  padding: 0.7rem;
  user-select: none;
}

.see-btn:hover {
  box-shadow: 0 0.3rem 1rem rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

.see-btn:active {
  box-shadow: none;
  background-color: #008552;
  cursor: pointer;
}

#recent-works {
  display: flex;
  flex-direction: column;
}

#recent-works .text {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 1rem 0;
}

#arrow-ctn {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 2rem;
}

#about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#about-me .title {
  color: #172b4d;
  font-weight: 700;
  font-size: 2.5rem;
}

#about-me .text {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #42526e;
}

#ab-me-img {
  background-image: url("icons/about-me-mobile.svg");
  background-size: contain;
  background-clip: content-box;
  width: 300%;
  height: 150%;
  background-repeat: no-repeat;
  position: absolute;
  left: -3rem;
  z-index: -1;
  top: -45%;
}

#ab-me-1-img {
  background-image: url("icons/about-me-mobile-1.svg");
  background-size: contain;
  background-clip: content-box;
  background-position: right;
  width: 50%;
  height: 40%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: -15%;
  right: -3rem;
}

#ab-me-desktop-img {
  background-image: url("icons/about-me-desktop.svg");
  background-size: contain;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-position: right;
  width: 40%;
  height: 50%;
  display: none;
  z-index: -1;
  position: absolute;
  top: 0;
  right: -3rem;
}

#ab-me-desktop-1-img {
  background-image: url("icons/about-me-desktop-1.svg");
  background-size: contain;
  background-clip: content-box;
  background-repeat: no-repeat;
  width: 40%;
  height: 35%;
  display: none;
  z-index: -1;
  position: absolute;
  bottom: -2rem;
  left: -3rem;
}

#skills {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0 2rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 50vh;
  background-color: #ebf0ee;
  border: 0.1rem solid #c1c7d0;
  border-radius: 0.3rem;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}

.skill-text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
  color: #344563;
}

.skill-list li {
  font-weight: 600;
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 0.3rem;
  color: #008552;
  user-select: none;
}

.skill-icon-ctn {
  display: flex;
  place-content: center;
  padding: 1rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.8rem 1rem rgba(37, 47, 137, 0.08);
}

/* Responsiveness */

@media only screen and (min-width: 768px) {
  #headline {
    margin-top: 18rem;
    max-width: 55rem;
  }

  #header-img-desktop {
    display: block;
  }

  #header-img {
    display: none;
  }

  #toolbar {
    display: none;
  }

  #nav-bar-ctn {
    display: flex;
    justify-content: center;
  }

  #nav-bar {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: #344563;
  }

  #works {
    grid-template-columns: repeat(3, 1fr);
  }

  #skills {
    grid-template-columns: repeat(3, 1fr);
  }

  #ab-me-desktop-img {
    display: block;
    position: absolute;
  }

  #ab-me-desktop-1-img {
    display: block;
    position: absolute;
  }

  #ab-me-img {
    display: none;
  }

  #ab-me-1-img {
    display: none;
  }

  #about-me {
    padding: 6rem 10rem;
  }
}
