*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

#padding-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  gap: 3rem;
}

#toolbar {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  top: 2rem;
  z-index: 10;
}

#menu-button {
  display: flex;
  margin-right: 3.4rem;
  width: 1.8rem;
}

#social-media img {
  width: 1.5rem;
}

#menu-button img:hover {
  cursor: pointer;
}

#headline {
  position: relative;
  margin-top: 10rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#primary-text {
  font-family: 'Inter', Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 5rem;
}

#support-text {
  font-family: 'Inter', Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin-top: 2rem;
  color: #172b4d;
}

#title-1 {
  color: #172b4d;
}

#title-2 {
  color: #36b37e;
}

#social-media {
  margin-top: 1.5rem;
}

#header-img {
  background-image: url(icons/header-illustration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

#header-img-desktop {
  background-image: url(icons/header-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#down-btn-ctn {
  display: flex;
  justify-content: center;
}

#down-btn-ctn button {
  background: #fff;
  border: 0.1rem solid #dfe1e6;
  border-radius: 32px;
  padding: 1rem;
  margin-top: 4rem;
}

#nav-bar-ctn {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
}

#nav-bar a {
  transition: 200ms ease-in-out;
}

.soc-med-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

#works {
  display: flex;
  flex-direction: column;
  place-content: center;
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

#nav-bar a:hover {
  scale: 1.2;
}

form .see-btn {
  align-self: center;
}

.see-btn:hover {
  box-shadow: 0 0.3rem 1rem rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

.see-btn:active {
  box-shadow: none;
  background-color: #008552;
  cursor: pointer;
}

#recent-works {
  display: flex;
  flex-direction: column;
}

#arrow-ctn {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 2rem;
}

/* Footer */

#contact-img {
  background: url('./icons/contact.svg') no-repeat;
  background-size: 5rem;
  background-position: 100% 100%;
  position: absolute;
  width: 100vw;
  height: 100%;
  right: -3rem;
  z-index: -1;
}

footer {
  margin: 2rem 0;
}

.soc-med-list.bottom {
  gap: 1.5rem;
}

#curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1rem 0;
  background-color: #c1c7d0aa;
  z-index: 11;
  overflow: auto;
  animation: popup 200ms ease 1;
}

#curtain.fade {
  animation: fade 200ms ease 1;
  opacity: 0;
}

#popup-ctr {
  margin: 0 auto;
  width: 95%;
  max-width: 50rem;
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  overflow: visible;
  position: relative;
}

#popup-img-ctr {
  position: relative;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#close-popup-btn {
  position: absolute;
  top: 1rem;
  right: 3rem;
  background-color: rgba(25, 27, 28, 0.428);
}

#close-popup-btn:hover {
  cursor: pointer;
}

#popup-img {
  width: 100%;
}

#btn-popup-ctr {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

#btn-popup-ctr.desktop {
  flex-wrap: nowrap;
  height: 2.5rem;
}

#btn-popup-ctr button {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}

#skill-popup-ctr {
  width: 80%;
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  align-self: flex-start;
}

.tech-card.popup {
  font-size: 0.8rem;
}

#work-desc {
  color: #344563;
  line-height: 1.5rem;
  font-size: 1rem;
}

#popup-name-ctr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#work-name {
  font-weight: 600;
  align-self: flex-start;
  text-align: left;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #172b4d;
  flex: 3 3;
}

@keyframes popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
