#contact {
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#contact-text {
  font-size: 2rem;
  color: #172b4d;
  text-align: center;
  line-height: 4rem;
}

form {
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #6b778c;
}

form input,
form textarea {
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  border: solid 0.1rem #d0d9d4;
  font-style: italic;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

form textarea {
  border-color: #60c095;
}

hr {
  display: none;
  position: absolute;
  background-color: #dfe1e6;
  height: 0.1rem;
  border: none;
}

#email-contact {
  font-size: 1rem;
  text-align: center;
  color: #42526e;
}
